@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@100&family=Ubuntu:ital,wght@0,300;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 80vw;
    font-family: 'Ubuntu', sans-serif;
}
.navbar{
    display: flex;
    height: 67 px;
}
.navbar li{
    list-style: none;
    margin: 0 12px;
}
.topleft{
    width: 50%;
    height: 50vh;
}
.topright{
    width: 50%;
    height: 50vh;
}
.section1{
}
